<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BioToolBay</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/mystyle.css') }}" rel="stylesheet"> 
  <link href="{{ url_for('static', filename='css/slick/slick.css') }}" rel="stylesheet"> 
  <link href="{{ url_for('static', filename='css/slick/slick-theme.css') }}" rel="stylesheet"> 

</head>
  <header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
           <a href="{{ entry_point }}"> 
             <button type="button" class="btn btn-default navbar-btn">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> BioToolBay
             </button>
            </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ entry_point }}">Home<span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="{{ entry_point }}/search/">Advanced Search</a></li>           
           <button class="btn btn-primary navbar-btn"><a class="white" href="{{ entry_point }}/t2n/">Explore</a></button>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>  <a href="http://amp.pharm.mssm.edu/datasets2tools">Datasets2Tools</a> </li>
          <li><a href="{{ entry_point }}/about/">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



  </header>
  <div id="wrap">
  <div id="main" class="container clear-top">

<body>

<div class="container-fluid"  style="min-height: 100%">


<div class="row">
    <div class="col-xs-9 col-md-9">        
        <h1><span class="headline"> About BioToolBay </span></h1>
    </div>
 </div> 


            
 <script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>



<div class="row">
   <h4> What is BTB? </h4>
    <p> BTB is an automated and self-mantaining index of bioinformatics tools.</p>
   </div>
<div class="row">

<h4> How the data was collected? hello </h4>

 <strong>STEP 1: Web Scraping</strong>
  <ul>
     <li>Scrapy-Splash framework is used to extract research papers from the journals. </li>
     <li>The data was collected on 10th July 2017.</li>
     <li>All of the extracted articles were published during the period: 2000-2017.</li>
  </ul>

  <strong>STEP 2: Cleaning and data normalilzation</strong>
  </br>
  <br>

  <strong>STEP 3: Regular  Expressions</strong>
  <ul>
    <li> In order to establish which articles describe computational tools first the data in categories like Proceeding, Erratum are dropped, then a regular expression is used to find a name of a potential tool in the article's titile and the name is search for among the links gathered from the article's webpage.</li>
  </ul>

 <strong> STEP 4: Active links to homepages</strong>
 <ul>
    <li>Each homepage associated with a bioinformatics tool is tested to determine if it is currently active.</li>
  </ul>

  <strong>STEP 5: Unique tool's name</strong>
  <ul>
     <li>Multiple journal articles can descripe the same tool -updates, new releases .</li>
     <li>The newest article about a given tool is associated to it for futher analysis.</li>
  </ul>

 <strong> STEP 6: Natural Language Processing-similarity</strong>
 <ul>
   <li>NLTK -NLP Pyton library is used to analyze the abstracts of main articles. </li>
   <li>Adjacency matrix is created to describe similarity between each pair of tools.</li>
   <li> t-SNE is used to create a visualization of relationships between the tools.</li>
</ul>

 <strong>STEP 7: Dataframes to SQL</strong>
 <ul>
  <li>All the data is stored in rational database.</li>
</ul>

  </div>

</p>
</div>


<div class="row">
    <h4> Summary of Data Collection Across the Journals </h4>
    <img  src="{{ url_for('static', filename='images/table2.png') }}" class="img-rounded"  style="margin-top: 1cm">
</div>

<br>
* 5,977 unique tools across all of the journals.
</br>


  </div><!--footer helpers -->
</div>

<footer class="footer">
      <div class="container-fluid">
            <div class="row">
             <br>
             </br>
                <div class="col-sm-6 white" class="pull-left" style="font-size: 12px;">
                    <ul>
                        <strong> Affiliations </strong>
                        <li><a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">The Ma'ayan Lab</a></li>
                        <li><a href="http://www.lincs-dcic.org/" target="_blank">BD2K-LINCS Data Coordination and Integration Center (DCIC)</a></li>
                        <li><a href="http://www.lincsproject.org/">NIH LINCS program</a></li>
                        <li><a href="http://bd2k.nih.gov/" target="_blank">NIH Big Data to Knowledge (BD2K)</a></li>
                        <li><a href="http://icahn.mssm.edu/" target="_blank">Icahn School of Medicine at Mount Sinai</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 white" class="pull-right" style="font-size: 12px;">
                    <strong>License</strong>
                    <br>
                    </br>
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">All contents on this site are covered </span> by the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                </div>
            </div>
        </div>

</footer>


</body>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>  
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>

</html>
